<html>
<head>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-rc1/jquery.min.js"></script>

    <script>
        Smooch.init({appToken: '{{appToken}}' });
    </script>
</head>
<body>
    <h2>SmoochBot Demo</h2>
</body>
</html>
